<nav>
    <!-- <div class="gridx12-header">           
        <div class="gridx12__one--col1of1"> -->
            <ul>
                <li class="nav-item__eins"><a href="../#kajakschule">Kajakschule</a></li>
                <li class="nav-item__zwei"><a href="../#outdoorEngadin">Paddeln am Inn</a></li>
                <li class="nav-item__drei"><a href="../#joyOfWhitewater">Paddeln am Vorderrhein</a></li>
                <li class="nav-item__vier"><a href="../#contact">Kontakt</a></li>
            </ul>

        <!-- </div>
    </div> -->
</nav>