<nav>
    <div class="hamburger-wrapper">
        <svg id="hamburger" xmlns="http://www.w3.org/2000/svg" width="50px" height="48px" version="1.1">
            <g class="hamburger__line-1">
                <rect x="0" y="5" width="51px" height="8px" rx="2" ry="2" fill="#000000"/>
            </g>
            <g class="hamburger__line-2">
                <rect x="0" y="19" width="50px" height="8px" rx="2" ry="2" fill="#000000"/>
            </g>
            <g class="hamburger__line-3">
                <rect x="0" y="33" width="51px" height="8px" rx="2" ry="2" fill="#000000"/>
            </g>
        </svg>
    </div>
    
    <ul class="navi-desktop js-hide">
        <li class="nav-item__eins">
            <a href="../#kajakschule" title="Kajakschule Übersicht">
                Kajakschule
            </a>
        </li>
        <li class="nav-item__zwei" title="Kajakschule - Outdoor Engadin">
            <a href="../#outdoorEngadin">
                Paddeln am Inn
            </a>
        </li>
        <li class="nav-item__drei" title="Kajakschule - The Joy of Whitewater">
            <a href="../#joyOfWhitewater">
                Paddeln am Vorderrhein
            </a>
        </li>
        <li class="nav-item__vier" title="Kajakschule Konakt">
            <a href="../#contact">
                Kontakt
            </a>
        </li>
    </ul>
</nav>