@charset "UTF-8";
/**
 * External Components
 */
/**
 * Base
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*** media breakpoints ***/
/*** fonts ***/
/*** colors ***/
/*** sizes ***/
/**
 * Components
 */
nav {
  grid-area: 2/1/3/2;
  background-color: #FFFFFF;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 12px 0 16px 0;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: #000000;
  text-decoration: none;
  padding: 4px 6px;
}
nav ul li a.js-isSelected {
  color: #000000;
  font-family: "Alegreya Sans", "Arial", "sans-serif";
  font-size: 1.68rem;
  font-weight: 400;
}
nav ul li:first-of-type {
  padding: 0 0 0 16px;
}

/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
@media screen and (min-width: 440px) {
  nav ul li a {
    padding: 4px 12px;
  }
  nav ul li:first-of-type {
    padding: 0 0 0 20px;
  }
}
/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 1050px) {
  nav {
    grid-area: 2/2/3/3;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2vw 0 0 0;
  }
  nav ul li {
    padding: 8px calc(-8px + 2%);
  }
  nav ul li a {
    padding: 4px 8px;
  }
  nav ul li a:hover {
    color: #bfbfbf;
  }
  nav ul li:first-of-type {
    padding: 8px calc(-8px + 2%) 8px 8px;
  }
  nav ul li:last-of-type {
    padding: 8px calc(-14px + 6%) 8px calc(-8px + 2%);
  }
}
/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 1600px) {
  nav ul li {
    padding: 8px 20px;
  }
  nav ul li:first-of-type {
    padding: 8px 20px;
  }
  nav ul li:last-of-type {
    padding: 8px 47px 8px 20px;
  }
}
/* Border Box Trick */
/* padding ist in der Box Breite miteingerechnet*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Ende Border Box Trick*/
html {
  font-size: 16px;
}

body {
  color: #000000;
  font-family: "Alegreya Sans", "Arial", "sans-serif";
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.wrapper {
  display: grid;
  grid: [row1] "Header" 56px [row1-end] [row2] "Nav" 56px [row2-end] [row3] "Main" auto [row3-end] [row4] "Footer" 50px [row4-end]/100%;
  background-color: #FFFFFF;
  margin-top: 8px;
}
.wrapper .stickyHeader-wrapper {
  grid-area: 1/1/3/2;
  position: sticky;
  top: 0;
  z-index: 2;
}
.wrapper header {
  background-color: #E87688;
}
.wrapper header .title {
  color: #000000;
  font-family: "Alegreya Sans SC", "Arial", "sans-serif";
  font-size: 3rem;
  font-weight: 100;
  height: 56px;
  line-height: 56px;
  text-align: center;
  margin-top: 8px;
}
.wrapper nav {
  background-color: #F27CC9;
  color: #000000;
  font-family: "Alegreya Sans", "Arial", "sans-serif";
  font-size: 1.4rem;
  font-weight: 300;
}
.wrapper main {
  background-color: #C87CF2;
  grid-area: 3/1/4/2;
}
.wrapper main .page-item {
  margin-bottom: 16px;
}
.wrapper main .page-title {
  color: #000000;
  font-family: "Alegreya Sans", "Arial", "sans-serif";
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
}
.wrapper main .page-text {
  color: #000000;
  font-family: "Alegreya Sans", "Arial", "sans-serif";
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0;
}
.wrapper footer {
  grid-area: 4/1/5/2;
  background-color: rgba(255, 255, 255, 0.8);
}
.wrapper .side-space--left, .wrapper .side-space--right {
  display: none;
}

/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
@media screen and (min-width: 440px) {
  .wrapper header .title {
    font-size: 3.5rem;
  }
}
/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 1050px) {
  .wrapper {
    display: grid;
    grid-template: [row1] "SideSpace-Left Header SideSpace-Right" 56px [row2] "SideSpace-Left Nav SideSpace-Right" 56px [row3] "SideSpace-Left Main SideSpace-Right" auto [row4] "SideSpace-Left Footer SideSpace-Right" 50px/auto 90% auto;
    margin-top: 8px;
  }
  .wrapper .stickyHeader-wrapper {
    grid-area: 1/2/3/3;
  }
  .wrapper header .title {
    height: unset;
    line-height: unset;
    text-align: end;
    font-size: 4.2vw;
    margin-top: 40px;
  }
  .wrapper nav {
    font-size: 1.4vw;
  }
  .wrapper .side-space--left {
    background-color: gray;
    grid-area: 1/1/5/2;
    display: unset;
  }
  .wrapper .side-space--right {
    background-color: gray;
    grid-area: 1/3/5/4;
    display: unset;
  }
  .wrapper main {
    margin-top: 40px;
    grid-area: 3/2/4/3;
  }
  .wrapper main .page-item {
    margin-bottom: 32px;
  }
  .wrapper footer {
    background-color: yellow;
    grid-area: 4/2/5/3;
  }
}
/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 1600px) {
  .wrapper {
    display: grid;
    grid-template: [row1] "SideSpace-Left Header SideSpace-Right" 56px [row2] "SideSpace-Left Nav SideSpace-Right" 56px [row3] "SideSpace-Left Main SideSpace-Right" auto [row4] "SideSpace-Left Footer SideSpace-Right" 50px/auto 1600px auto;
  }
  .wrapper header .title {
    font-size: 4.8rem;
  }
  .wrapper nav {
    color: #000000;
    font-family: "Alegreya Sans", "Arial", "sans-serif";
    font-size: 1.4rem;
    font-weight: 300;
  }
}